<header class="header" id="header">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark  dark
            ">

            <a class="navbar-brand" href="/">
<!--                <img src="/img/new_logo.png" class="header-logo" alt="">-->
                Продажа меду
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Головна<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#honey">Про мед</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#products">Наша продукція</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Написати нам</a>
                    </li>


                </ul>

            </div>

        </nav>


        <div class="header-content ">

            <div class="row">
                <div class="col-lg-6 d-flex flex-column justify-content-center">
                    <h1 class="section-title white">Мед</h1>

                    <div class="contacts">
                        <div class="phone-number">Звертайтесь за номером: <a href="tel:0988581197">+380988581197</a> або</div>
                    </div>
                    <a href="#contact">
                        <button class="btn btn-transparent  mb-3 mt-5">Зв'язатися з нами</button>
                    </a>

                </div>
                <div class="col-lg-6 ">
                    <!--                            <div class="main-section-img"></div>-->
                
                    <img class="header-img" src="/img/lulu-bees-raw-natural-honey-6.png" alt="">
                </div>

            </div>
        </div>


    </div>
</header>

<section class="bar">
    <div class="bar-background d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 d-flex flex-column align-items-center justify-content-center ">
                    <h1 class="section-title">Мед</h1>
                    <div class="section-description">

                            При любій погоді, мед буде в нагоді!

                    </div>
                </div>


            </div>
        </div>

    </div>


</section>
<section class="section section-pasika d-flex flex-column align-items-center justify-content-center p-5">
    <div class="container">
        <div class="row ">
            <div class="col-lg-12 d-flex flex-column align-items-center">
                <h1 class="section-title display-3  font-weight-bold light">Власна пасіка</h1>
                <div class="section-description white ">
                  Спочатку пасіка складалась з однієї сім'ї, рік раз роком вона збільшувалась
                </div>
            </div>
        </div>
    </div>
</section>


<section class="section section-products pb-5" id="products">

    <div class="container">
        <div class="row pt-lg-5 d-flex flex-row justify-content-between">
            <div class="col-lg-12 d-flex flex-column align-items-center">
                <div class="section-description">
                    Зараз у наявності є ріпаковий мед, а також квітковий пилок.
                </div>

            </div>
            <div class="col-lg-6">
                <div class="card-body   d-flex flex-column justify-content-between  align-items-center">
                    <div class="card-img">
                        <img src="/img/glass_of_honey.png" alt="">
                    </div>
                    <div class="card-title">Ріпаковий мед(кристалізований)</div>
                    <div class="card-text lead ">Ріпаковий мед легко впізнати по одному тільки зовнішньому вигляду. На відміну від інших сортів, він має молочно-білий відтінок і ніжну кремову структуру. Що стосується корисних властивостей натурального продукту, у цьому питанні він теж наділений унікальністю.

                        Мало хто знає, що ріпаковий мед є дуже корисним і входить у п’ятірку кращих медів.

                        Цей вид меду – єдиний, який виводить радіонукліди і важкі метали з організму людини, і саме його рекомендують чорнобильцям та людям, які отримали опромінення.
                    </div>
                    <div class="card-price">Ціна: 150грн/л</div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card-body d-flex flex-column justify-content-between align-items-center  h-auto">
                    <div class="card-img">
                        <img src="/img/pulok300x300.png" alt="">
                    </div>
                    <div class="card-title">Квітковий пилок</div>
                    <div class="card-text lead">Квітковий пилок – це продукт, який бджоли добувають із серцевини квітки. Колір пилку може відрізнятися: від жовтого, зеленого до помаранчевого, червоного і темно-коричневого.
                        У ньому міститься приблизно 150 мінеральних і біологічно активних елементів, амінокислот і вітамінів.
                        У період міжсезоння і спалахів інфекційних і вірусних захворювань пилок застосовують як протизапальний, протекторний і загальнозміцнювальний засіб. Продукт може бути корисним як засіб профілактики серцево-судинних захворювань і безсоння.
                    </div>

                    <div class="card-price">Ціна: 20грн/100грам</div>
                </div>
            </div>



        </div>
    </div>


</section>


<section class="section section-pasika-info d-flex flex-column align-items-center justify-content-center p-5">
    <div class="container">
        <div class="row ">
            <div class="col-lg-12 d-flex flex-column align-items-center">
                <div class="section-logo white"><img src="/img/bee_logo.png"></div>
                <div class="section-description white h1">
                    Мед  — густа солодка маса, яку бджоли виробляють з нектару квітів.
                </div>

            </div>

        </div>
    </div>


</section>


<section class="bar section-quality ">
    <div class="bar-background d-flex align-items-center dark h-auto">
        <div class="container">

            <div class="row d-flex align-items-center justify-content-center m-auto">
                <div class="col-lg-3">
                    <div class="quality-logo"><img src="/img/natural.png"></div>

                </div>
                <div class="col-lg-6 ml-lg-auto  center h2">Натуральний продукт, без концервантів і барвників</div>
            </div>
        </div>
    </div>
</section>

<section class="section section-gallery pt-5 pb-5" id="honey">
    <div class="container">
        <div class="gallery-blocks">
            <div class="row ">
                <div class="col-lg-6 m-0 p-0"><img src="/img/pasika.jpg"></div>
                <div class="col-lg-6 m-0 p-0">
                    <div class="block d-flex flex-column justify-content-center align-items-center pl-5">
                        <div class="block-title display-4 font-weight-bold">Лікарські властивості</div>
                        <div class="block-body h1 font-weight-light ">Згідно з даними Національного інституту здоров'я США, мед може бути ефективний при лікуванні опіків, ран, кашлю, діабету. Мед має підтверджені антибактеріальні та противірусні властивості</div>
                    </div>
                </div>
                <div class="col-lg-6 m-0 p-0">
                    <div class="block d-flex flex-column justify-content-center align-items-center p-5">
                        <div class="block-title font-weight-bold  h2">Склад меду</div>
                        <div class="block-body font-weight-light"> В ньому концентрується весь склад нектару, збагачений виділеннями спеціальних залоз бджіл. Деякі компоненти утворюються в результаті хімічних реакцій у комірках стільників. Склад меду: 1 компонент — фруктоза (21,7% — 53,9%) і глюкоза (20,4% — 44,4%); 2 — органічні кислоти; 3 — хімічні елементи, кількість яких майже така ж, як і в крові людини; 4 — білки (ензими), які прискорюють проходження хімічних процесів в живих організмах; 5 — інвертаза, діастаза, каталаза та інші складові; 6 — вітаміни; 7 компонент меду — вода. Нормальна її кількість в меді становить від 15% до 20%.
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 m-0 p-0">{{>slider}}</div>
                <div class="col-lg-6 m-0 p-0"><img src="/img/vulik.jpg " class="h-100"></div>
                <div class="col-lg-6 m-0 p-0">
                    <div class="block d-flex flex-column justify-content-center align-items-center p-5">
                        <div class="block-title display-4 font-weight-bold">Цікавий факт</div>
                        <div class="block-body h1 font-weight-light">Кристалізований і некристалізований мед за своєю природою і складом не різниться.

                            Кристалізація полягає у перетворенні розчиненого цукру в твердий (кристалічний) стан. На схильність меду до кристалізації та її швидкість впливає насамперед співвідношення глюкози і фруктози, а також тепло. Чим більше глюкози, тим швидше відбувається кристалізація меду. В різних за походженням сортах співвідношення глюкози і фруктози неоднакове.
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="gallery-blocks-mobile">
            <div class="row ">

                <div class="col-lg-6 m-0 p-0"><img src="/img/vulik.jpg"></div>
                <div class="col-lg-6 m-0 p-0">
                    <div class="block d-flex flex-column justify-content-center align-items-center p-5">
                        <div class="block-title display-4 font-weight-bold">Лікарські властивості</div>
                        <div class="block-body h3 font-weight-light ">Згідно з даними Національного інституту здоров'я США, мед може бути ефективний при лікуванні опіків, ран, кашлю, діабету. Мед має підтверджені антибактеріальні та противірусні властивості</div>
                    </div>
                    </div>
                </div>

                <div class="col-lg-6 m-0 p-0">{{>slider}}</div>
                <div class="col-lg-6 m-0 p-0">
                    <div class="block d-flex flex-column justify-content-center align-items-center p-5">
                        <div class="block-title font-weight-bold  h2">Склад меду</div>
                        <div class="block-body font-weight-light"> В ньому концентрується весь склад нектару, збагачений виділеннями спеціальних залоз бджіл. Деякі компоненти утворюються в результаті хімічних реакцій у комірках стільників. Склад меду: 1 компонент — фруктоза (21,7% — 53,9%) і глюкоза (20,4% — 44,4%); 2 — органічні кислоти; 3 — хімічні елементи, кількість яких майже така ж, як і в крові людини; 4 — білки (ензими), які прискорюють проходження хімічних процесів в живих організмах; 5 — інвертаза, діастаза, каталаза та інші складові; 6 — вітаміни; 7 компонент меду — вода. Нормальна її кількість в меді становить від 15% до 20%.
                    </div>
                </div>

                <div class="col-lg-6 m-0 p-0"><img src="/img/vulik.jpg"></div>
                <div class="col-lg-6 m-0 p-0">
                    <div class="block d-flex flex-column justify-content-center align-items-center p-5">
                        <div class="block-title display-4 font-weight-bold">Цікавий факт</div>
                        <div class="block-body h3 font-weight-light">Кристалізований і некристалізований мед за своєю природою і складом не різниться.

                            Кристалізація полягає у перетворенні розчиненого цукру в твердий (кристалічний) стан. На схильність меду до кристалізації та її швидкість впливає насамперед співвідношення глюкози і фруктози, а також тепло. Чим більше глюкози, тим швидше відбувається кристалізація меду. В різних за походженням сортах співвідношення глюкози і фруктози неоднакове.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="bar section-quality ">
    <div class="bar-background d-flex align-items-center dark h-auto">
        <div class="container">

            <div class="row d-flex align-items-center justify-content-center ">
                <div class="col-lg-3">
                    <div class="quality-logo"><img src="/img/made_in_UA.png"></div>
                </div>
                <div class="col-lg-6  ml-lg-auto  center h2">Виготовлено в Україні</div>
            </div>
        </div>
    </div>
</section>

<section id="contact" class="section section-contact d-flex flex-column justify-content-center ">
    <div class="container ">
        <div class="row">
            <div class="col-sm-12">
                <div class="headerText text-center light">
                    <h2 data-aos="fade-down" data-aos-duration="1000"
                        data-aos-delay="0">Написати нам</h2>
                    <p data-aos="fade-down" data-aos-duration="1000"
                       data-aos-delay="200">Введіть ваше ім'я і номер телефону щоб ми могли вам подзвонити </p>

                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="offset-sm-2 col-sm-8">
                <form method="post" action="/sended">
                    <div class="form-group">
                        <label class="text">
                            Ім'я
                        </label>
                        <input type="text" name="name" class="form-control"/>
                    </div>
                
                    <div class="form-group">
                        <label class="text">
                            Номер телефону <small>(наприклад 0981234567)</small>
                        </label>
                        <input  type="tel"  name="phone" pattern="[0-9]{3}[0-9]{3}[0-9]{4}"
                                required class="form-control"/>
                    </div>

                    <div class="form-group text-center">
                        <button class="btn btn-transparent" type="submit">Звязатися з нами</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ul class="sci">
                    <li><a href="https://t.me/andrii_kirchei"><i class="fa fa-telegram"> </i></a></li>
                    <li><a href="tel:0988581197"><i class="fa fa-phone"> </i></a></li>
<!--                    <li><a href="#"><i class="fa fa-google"> </i></a></li>&lt;!&ndash;use fontawesome icon &ndash;&gt;-->
<!--&lt;!&ndash;                    <li><a href="https://www.instagram.com/andrii_kirchei/?hl=ru"><i class="fa fa-instagram"> </i></a>&ndash;&gt;-->
<!--                    </li>&lt;!&ndash;use fontawesome icon &ndash;&gt;-->
<!--                    <li><a href="#"><i class="fa fa-vk"> </i></a></li>&lt;!&ndash;use fontawesome icon &ndash;&gt;-->


                </ul>
                <p class="cpryt">
                    @ Copyright 2020 by <a href="#">Andrii Kirchei</a>
                </p>
            </div>
        </div>
    </div>
</footer>
