<section class="section success-send d-flex flex-column align-items-center justify-content-center p-5">
    <div class="container">
        <div class="row ">
            <div class="col-lg-12 d-flex flex-column align-items-center">
                <h1 class="section-title display-4  font-weight-bold dark">Успішно надіслано</h1>
                <div class="section-description dark ">
                    <ul class="list-group list-group-flush bg-transparent h2">
                        <li class=" bg-transparent">Ім'я: {{name}}</li>
                        <li class=" bg-transparent">Номер телефону: {{phone}}</li>
                    </ul>

                    <div class="display-3 font-weight-bold">Ми вам передзвонимо!</div>
                    <a href="/">
                        <button class="btn btn-dark btn-transparent  mb-3 mt-5">Назад</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>